<div class="row align-items-md-stretch">
  <div class="col-md-12">

    <div *ngIf="loggedIn" class="h-100 p-5 bg-light border rounded-3">
      <h2>Hello {{ user.name }}</h2>
      <img src="{{ user.photoUrl }}" />
      <p>{{ user.email }}</p>


    </div>
    <div *ngIf="studentsResponse.length > 0">
      <table class="table">
        <tr *ngFor="let item of studentsResponse">
          <td>{{item.name}}</td>
          <td>{{item.age}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
